<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
      eaque.
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
        repellendus nobis corporis voluptatem ex distinctio exercitationem ipsa
        officiis molestias ipsum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg"
      />
      <img class="feature__img" src="./images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
        repellendus nobis corporis voluptatem ex distinctio exercitationem ipsa
        officiis molestias ipsum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg"
      />
      <img class="feature__img" src="./images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
        repellendus nobis corporis voluptatem ex distinctio exercitationem ipsa
        officiis molestias ipsum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg"
      />
      <img class="feature__img" src="./images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
